<footer class="ftco-footer">
  <div class="container-xl">
    <div class="row mb-5 justify-content-between">
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 logo d-flex">
            <a class="navbar-brand align-items-center" href="{{ '/' | url }}">
              Re:Mind.
            </a>
          </h2>
          <figure class="pb-3">
            

          <ul class="ftco-footer-social list-unstyled mt-2">
            <li>
              <a href="{{ site.twitter }}" aria-label="Our social media on X"
                ><span class="bi bi-twitter-x"></span
                ><span class="visually-hidden-focusable">X</span></a
              >
            </li>
            <li>
              <a href="{{ site.facebook }}"
                ><span class="bi bi-facebook"></span
                ><span class="visually-hidden-focusable">Facebook</span></a
              >
            </li>
            {#
            <li>
              <a href="{{ site.instagram }}"
                ><span
                  class="bi bi-instagram"
                  aria-label="Our social media on Instagram"
                ></span
                ><span class="visually-hidden-focusable">Instagram</span></a
              >
            </li>
            #}
            <li>
              <a href="{{ site.youtube }}"
                ><span class="bi bi-youtube"></span
                ><span class="visually-hidden-focusable">Youtube</span></a
              >
            </li>
            <li>
              <a href="{{ site.linkedin }}"
                ><span class="bi bi-linkedin"></span
                ><span class="visually-hidden-focusable">LinkedIn</span></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Explore</h2>
          <ul class="list-unstyled">
            <li>
              <a href="{{ '/about' | url }}"
                ><span class="bi bi-arrow-right me-2"></span>About</a
              >
            </li>
            <li>
              <a href="{{ '/contact/' | url }}"
                ><span class="bi bi-arrow-right me-2"></span>Contact us</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Navigation</h2>
          {% for post in collections['featured'] | reverse | head(4) %}
          {# {% for post in collections.posts | reverse | head(4) %} #}
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img img-thumbnail rounded"
              style="background-image: url('{{ post.data.image_path | url }}')"
            ></a>
            <div class="text">
              {# <div class="meta">
                
                <div>
                  <a href="#"
                    ><span class="bi bi-calendar"></span>
                    {{ post.date | readableDate }}</a
                  >
                </div>

                <div>
                  <a href="#"><span class="bi bi-user"></span> Admin</a>
                </div>
                
              </div> #}

              <h3 class="heading">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
              </h3>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Question?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon bi bi-map"></span
                ><span class="text"
                  >1800 Diagonal Road<br />Suite 600<br />Alexandria, VA
                  22314</span
                >
              </li>
              <li>
                <a href="mailto:{{ site.email }}"
                  ><span class="icon bi bi-send"></span
                  ><span class="text">{{ site.email }}</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 py-5 bg-darken">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0" style="font-size: 14px">
            Copyright &copy; {% year %} All rights reserved |
            <strong>Re:Mind</strong> is a project of
            <a target="_blank" href="https://www.clir.org/">CLIR</a>
            <i class="bi bi-heart clir-burgundy" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
