<section class="ftco-intro py-5 bg-primary">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center mb-lg-4">
            <h2 class="mb-0">
              Newsletter - Stay tune and get the latest update
            </h2>
            <p>Far far away, behind the word mountains</p>
          </div>
          <div class="col-md-5 border-left d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex align-items-center">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter email address"
                />
                <a href="#" class="btn btn-darken">Subscribe</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
