<section class="ftco-section bg-light ftco-no-pt">
  <div class="container-xl">
    {% for post in collections.posts | reverse %} {%- set row_test = loop.index
    % 2 == 0 -%} {%- set image_p = post.data.image_path | url -%}
    <div class="row g-0">
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="col-md-7{{ '' if row_test else ' order-md-last' }}">
          <div
            class="img rellax"
            data-rellax-speed="-5"
            data-rellax-min="-120"
            data-rellax-max="0"
            style="background-image: url({{ image_p }})"
          ></div>
        </div>
        <div class="col-md-5">
          <div class="text py-5 ps-md-5 my-lg-5">
            <p class="meta">&nbsp;</p>
            <h2 class="mb-4">
              <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h2>
            <p class="mb-4">{% intro post %}</p>
            <p>
              <a href="{{ post.url | url }}" class="btn-custom"
                >Read More <span class="bi-arrow-right ms-2"></span
              ></a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
