// See https://getbootstrap.com/docs/5.3/customize/sass/

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '~bootstrap-icons/font/bootstrap-icons.css';

// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Alice&display=swap');

@import 'axole';
@import 'quotes';
@import 'stats';
@import 'partners';

$beige: rgb(255, 253, 237);

$yellow: #f4bf2c; // original
$orange: #eca72c;
$teal: #07beb8;
$yellow: #eca72c;

$dark-gray: #444444;

:root {
  --bs-font-sans-serif: Poppins;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.blog-single p:first-of-type {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.8em;
  padding-bottom: 2em;

  &::first-letter {
    font-size: 5em;
    font-family: Alice, serif;
    color: #903;
    float: left;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}
