<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <title>{{ site.title }} | {{ title }}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"
    />
    <meta name="description" content="{{ site.description }}" />
    {% include 'opengraph.njk' %}
  </head>
  <body data-pagefind-body>
    {% include 'navigation.njk' %}

    {{ content | safe }}

    {% include 'newsletter.njk' %} {% include 'footer.njk' %}
    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>
