<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link rel="icon" href="{{ og_image_alt | url }}" />
    <link
      rel="icon"
      href="{{ '/assets/images/clir.svg' | url }}"
      type="image/svg+xml"
    />
    <link rel="apple-touch-icon" href="{{ og_image_alt | url }}" />
    {% include 'opengraph.njk' %}
  </head>
  <body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <main data-pagefind-body>
      {% include 'header.njk' %}
      {{ content | safe }}
    </main>

    {% include 'newsletter.njk' %} {% include 'footer.njk' %}
    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>
