---
layout: base
---

<section class="hero-wrap hero-wrap-2">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 pt-5 mt-5 text-center">
        <p class="breadcrumbs">
          <span class="me-2"
            ><a href="{{ '/' | url }}"
              >Re:Mind <i class="ion-ios-arrow-round-forward"></i></a
          ></span>
          {# <span>Posts <i class="ion-ios-arrow-round-forward"></i></span> #}
        </p>
        <h1 class="mb-0 bread">{{ title }}</h1>
      </div>
    </div>
  </div>
</section>

{{ content | safe }}
