---
layout: base
---

{%- if image_path | length -%} {% set css%} .hero-wrap-2 { background-image:
linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{
  image_path | url
}}'); background-size: cover; background-position: center; } .hero-wrap
.slider-text .breadcrumbs span a { color: #fff; } .hero-wrap .slider-text .bread
{ color: #fff; } {% endset %}

<style>
  {{ css | safe | trim }}
</style>
{%- endif -%}

<section id="intro" class="hero-wrap hero-wrap-2">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 pt-5 mt-5 text-center">
        <p class="breadcrumbs">
          <span class="me-2">
            <a href="{{ '/' | url }}">Home</a> <i class="bi bi-arrow-right"></i>
          </span>
        </p>
        <h1 class="mb-0 bread">{{ title }}.</h1>
      </div>
    </div>
  </div>
</section>
{#
<section id="variables">
  <h1>variables</h1>
  <code>
    <pre>{{ image_path }}</pre>
  </code>
</section>
#}

{{ content | safe }}
