---
layout: page
---

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 blog-single">
        {{ content | safe }}
      </div>
    </div>
  </div>
</section>

<style>
  .content-prev,
  .content-next,
  .content-current {
    a {
      font-family: Alice, serif;
      font-weight: 500;
      font-size: 3rem;
      line-height: 1.5;
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #eca72c;
        /* transition: background-color 1000ms linear; */
      }
    }

    /* TODO breakpoints for text-alignment */

    span {
      display: block;
      text-transform: uppercase;
      font-family: Poppins, sans-serif;
      font-weight: 300;
      font-size: 0.8rem;
      letter-spacing: 0.25rem;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 1.2rem;
    }
  }
</style>
{# Logic here is backwards as the collections are reversed for display #} {% set
previousPost = collections.posts | getPreviousCollectionItem %} {% set nextPost
= collections.posts | getNextCollectionItem %}

<section class="ftco-section border-top border-bottom">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-4 col-sm-12 content-prev text-md-end">
        {% if nextPost %}
        <a href="{{ nextPost.url }}" rel="previous"
          ><span>Previous</span> {{ nextPost.data.title }}</a
        >{% endif %}
      </div>

      <div
        class="col-md-4 col-sm-12 text-md-center content-current border-start border-end"
      >
        <a href="#top"><span>Current</span> {{ title }}</a>
      </div>

      <div class="col-md-4 col-sm-12 content-prev">
        {% if previousPost %}
        <a href="{{ previousPost.url }}" rel="next"
          ><span>Next</span> {{ previousPost.data.title }}</a
        >{% endif %}
      </div>
    </div>
  </div>
</section>
