---
title: Home
layout: 'base.njk'
eleventyNavigation:
  key: Home
  order: 1
---

<section class="hero-wrap">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-end"
    >
      <div class="col-lg-8">
        <div class="text rellaxHero" data-rellax-speed="-3">
          <span class="subheading">A program of CLIR</span>
          <h1 class="mb-3">Re:<span>Mind</span>.</h1>
          <div class="row justify-content-end">
            <div class="col-lg-9">
              <h2>
                Connecting Life to Knowledge <br />
                During Climate Destruction
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-white">
  <div class="container-xl">
    <h1 class="mb-3">Video</h1>

    <div class="ratio ratio-16x9">
      <iframe
        src="https://www.youtube.com/embed/ZdrG04joSKU?rel=0&yt:cc=on"
        title="YouTube video"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

{% include 'posts.njk' %}
