---
title: Home
layout: base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="hero-wrap">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-end"
    >
      <div class="col-lg-8">
        <div
          class="text rellaxHero"
          data-rellax-speed="-3"
          style="transform: translate3d(0px, 0px, 0px)"
        >
          <span class="subheading">A Program of CLIR</span>
          <h1 class="mb-3">Re:<span>Mind</span>.</h1>
          <div class="row justify-content-end">
            <div class="col-lg-9">
              <h2>Connecting Life to Knowledge During Climate Destruction</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-white">
  <div class="container-xl">
    {#
    <h1>Video</h1>
    #}
    <div class="ratio ratio-16x9">
      <iframe
        src="https://www.youtube.com/embed/mOvGV_w34Jg?rel=0"
        title="YouTube video"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section class="ftco-section bg-light ftco-no-pt">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url({{
                '/assets/images/raissa-lara-lutolf-fasel-HfHZl7nIwEw-unsplash.webp'
                  | url
              }});
                transform: translate3d(0px, -103px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 ps-md-5 my-lg-5">
              {#
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              #}
              <h2 class="mb-4">
                <a href="{{ '/posts/challenge/' | url }}">The Challenge</a>
              </h2>
              <p class="mb-4">
                Communities around the globe are facing unprecedented challenges
                as they grapple with the impacts of climate change. Climbing
                temperatures, sea-level rise, and extreme weather events
                threaten the fabric of these communities' cultural heritage
                &mdash; the traditions, languages, customs, and histories that
                encapsulate their values, experiences, and knowledge.
              </p>
              <p>
                <a href="{{ '/posts/challenge/' | url }}" class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7 order-md-last">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url({{
                '/assets/images/aleza-van-der-werff-pvNIRh4pNcQ-unsplash.webp'
                  | url
              }});
                transform: translate3d(0px, -120px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 pe-md-5 my-lg-5">
              {#
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              #}
              <h2 class="mb-4">
                <a href="{{ '/posts/solution/' | url }}">Our Solution</a>
              </h2>
              <p class="mb-4">
                Re:Mind empowers communities to preserve cultural heritage in
                the face of climate-related disasters through community-driven
                digitization, leadership, and thoughtfully designed digital
                technologies. By leveraging CLIR's expertise in community
                mobilization, leadership and skills training, collaboratively
                developed technologies, and large-scale preservation of rare and
                unique materials, . Re:Mind will establish complementary and
                globally scalable programs that capture, share, and activate
                hidden and endangered knowledge for current and future
                generations.
              </p>
              <p>
                <a href="{{ '/posts/solution/' | url }}" class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url({{
                '/assets/images/filip-gielda-QKrLdkoYDrc-unsplash.webp' | url
              }});
                transform: translate3d(0px, -120px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 ps-md-5 my-lg-5">
              {#
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              #}
              <h2 class="mb-4">
                <a href="{{ '/posts/theory-of-change/' | url }}"
                  >Theory of Change</a
                >
              </h2>
              <p class="mb-4">
                Our project aims to develop and implement a replicable model for
                climate resilience planning and cultural heritage preservation
                in institutions and communities across Africa, the South
                Pacific, and Central America, using countries in Africa as a
                testbed for a global initiative. Our theory of change aims to
                promote inclusive knowledge ecosystems that prioritize
                community-led initiatives, cultural preservation, and
                decolonized scholarship.
              </p>
              <p>
                <a
                  href="{{ '/posts/theory-of-change/' | url }}"
                  class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7 order-md-last">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url({{
                '/assets/images/thomas-bennie-TcpcIk72D1s-unsplash.webp' | url
              }});
                transform: translate3d(0px, -120px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 pe-md-5 my-lg-5">
              {#
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              #}
              <h2 class="mb-4">
                <a href="#">Another Section</a>
              </h2>
              <p class="mb-4">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p>
                <a href="#" class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {#
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url('images/image_5.jpg');
                transform: translate3d(0px, -120px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 ps-md-5 my-lg-5">
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              <h2 class="mb-4">
                <a href="blog-single.html">Writing A Novel with A Heart</a>
              </h2>
              <p class="mb-4">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p>
                <a href="blog-single.html" class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7 order-md-last">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url('images/image_6.jpg');
                transform: translate3d(0px, -120px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 pe-md-5 my-lg-5">
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              <h2 class="mb-4">
                <a href="blog-single.html">Writing A Novel with A Heart</a>
              </h2>
              <p class="mb-4">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p>
                <a href="blog-single.html" class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="row g-0">
          <div class="col-md-7">
            <div
              class="img rellax"
              data-rellax-speed="-5"
              data-rellax-min="-120"
              data-rellax-max="0"
              style="
                background-image: url('images/image_7.jpg');
                transform: translate3d(0px, -120px, 0px);
              "
            ></div>
          </div>
          <div class="col-md-5">
            <div class="text py-5 ps-md-5 my-lg-5">
              <p class="meta">
                <span><i class="fa fa-user me-1"></i>Admin</span>
                <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span>
                <span
                  ><a href="#"
                    ><i class="fa fa-comment me-1"></i> 3 Comments</a
                  ></span
                >
              </p>
              <h2 class="mb-4">
                <a href="blog-single.html">Writing A Novel with A Heart</a>
              </h2>
              <p class="mb-4">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p>
                <a href="blog-single.html" class="btn-custom"
                  >Learn More <span class="bi bi-arrow-right ms-2"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      #}
    </div>
    {#
    <div class="row mt-5 pt-lg-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
    #}
  </div>
</section>
