---
title: scratch
layout: page
eleventyExcludeFromCollections: true
---

<section class="ftco-section ftco-no-pt ftco-no-pb mb-5">
  <div class="container-xl">
    <div class="row g-xl-5 py-5">
      <div class="quote">
        <blockquote>
          The man who comes back through the door in the wall will never be
          quite the same as the man who went out.
        </blockquote>
        <cite>Aldous Huxley</cite>
      </div>
    </div>
    <div class="row g-xl-5 py-5">
      {% image "assets/images/aleza-van-der-werff-pvNIRh4pNcQ-unsplash.jpg",
      "carving", "img-fluid" %}
    </div>
  </div>
</section>
