---
title: Style Guide.
layout: page
eleventyExcludeFromCollections: true
---

<section class="ftco-section">
  <div class="container">
    <div class="row my-5 justify-content-center">
      <div class="col-lg-8 blog-single">
        <h1 class="pb-5 text-center text-decoration-underline">Style Guide.</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aut
          molestias dolore id vel animi nulla, exercitationem necessitatibus a
          molestiae iure optio, doloremque tenetur! Voluptate odio perspiciatis
          dolores molestiae fugiat!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-5">
      <div class="col-md-6">
        <h2>Paragraph and Image</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
          possimus assumenda obcaecati eum, laborum nesciunt facilis,
          consequuntur cum ullam ex perspiciatis? Tempora, exercitationem
          praesentium temporibus totam provident tenetur ut expedita!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolor
          consequuntur quae eos veritatis aperiam reiciendis atque rem animi vel
          neque, deserunt rerum necessitatibus doloribus, illo quasi sit saepe
          aspernatur?
        </p>
        <p>
          A <a href="#">Link</a>,
          <abbr title="not a good description">abbreviation</abbr>,
          <strong>strong text</strong>, <em>em text</em>,
          <del>deleted text</del>, and <mark>this is a mark text</mark>.
          <code>.code</code>
        </p>
      </div>
      <div class="col-md-6">
        <h2>Drop Caps</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
          possimus assumenda obcaecati eum, laborum nesciunt facilis,
          consequuntur cum ullam ex perspiciatis? Tempora, exercitationem
          praesentium temporibus totam provident tenetur ut expedita!
        </p>

        <h3>Small Print</h3>
        <p>
          Lorem Ipsum.
          <small
            >(Lorem, ipsum dolor sit amet consectetur adipisicing elit.)</small
          >
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
        <h2>Pull Quotes</h2>
        <aside class="pull-quote">
          <blockquote>
            <p>
              In every walk with nature one receives far more than he seeks.
            </p>
            <cite>John Muir</cite>
          </blockquote>
        </aside>
      </div>
      <div class="col-md-6">
        <h2>Block Quotes</h2>
        <aside class="quote">
          <blockquote>
            <p>
              In every walk with nature one receives far more than he seeks.
            </p>
            <cite>John Muir</cite>
          </blockquote>
        </aside>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <h2>Example Lists</h2>
        <ol>
          <li>Here is an example</li>
          <li>of an ordered list.</li>
          <li>
            A parent list item.
            <ul>
              <li>one</li>
              <li>two</li>
              <li>three</li>
            </ul>
          </li>
          <li>A list item.</li>
        </ol>
        <ul class="disc">
          <li>Here is an example</li>
          <li>of an unordered list.</li>
        </ul>
        <h2 class="pt-5">Definition Lists</h2>
        <h5>a) Multi-line Definitions (default)</h5>
        <dl>
          <dt><strong>This is a term</strong></dt>
          <dd>
            this is the definition of that term, which both live in a
            <code>dl</code>.
          </dd>
          <dt><strong>Another Term</strong></dt>
          <dd>And it gets a definition too, which is this line</dd>
          <dd>
            This is a 2<sup>nd</sup> definition for a single term. A
            <code>dt</code> may be followed by multiple <code>dd</code>s.
          </dd>
        </dl>
      </div>
      <div class="col-md-6">
        <h2 class="">Buttons</h2>
        <p>
          See Bootstrap Documentation for
          <a
            target="_blank"
            href="https://getbootstrap.com/docs/5.3/components/buttons/#base-class"
            >Buttons</a
          >
        </p>
        <p>
          <a class="btn btn-primary" href="#">Primary Button</a>
          <a class="btn btn-secondary" href="#">Secondary Button</a>
          <a class="btn btn-success" href="#">Success Button</a>
        </p>

        <h2 class="pt-5 mb-3">Code Block</h2>

        <code> let message = "Hello World!"; </code>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
        <h1>H1 Heading</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
          ullam corporis ducimus qui repellendus nisi tempore nostrum voluptatum
          debitis facilis tenetur magnam ut blanditiis fugiat quod incidunt,
          deserunt vel.
        </p>
        <h2>H2 Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
          ullam corporis ducimus qui repellendus nisi tempore nostrum voluptatum
          debitis facilis tenetur magnam ut blanditiis fugiat quod incidunt,
          deserunt vel.
        </p>
        <h3>H3 Heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
          ullam corporis ducimus qui repellendus nisi tempore nostrum voluptatum
          debitis facilis tenetur magnam ut blanditiis fugiat quod incidunt,
          deserunt vel.
        </p>
      </div>
      <div class="col-md-6">
        <h4>H4 Heading</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
          ullam corporis ducimus qui repellendus nisi tempore nostrum voluptatum
          debitis facilis tenetur magnam ut blanditiis fugiat quod incidunt,
          deserunt vel.
        </p>
        <h5>H5 Heading</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
          ullam corporis ducimus qui repellendus nisi tempore nostrum voluptatum
          debitis facilis tenetur magnam ut blanditiis fugiat quod incidunt,
          deserunt vel.
        </p>
        <h6>H6 Heading</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
          ullam corporis ducimus qui repellendus nisi tempore nostrum voluptatum
          debitis facilis tenetur magnam ut blanditiis fugiat quod incidunt,
          deserunt vel.
        </p>
      </div>
    </div>

    <div class="row my-5">
      <h2>Stats Tabs</h2>
      <ul class="stats-tabs">
        <li>
          <a href="#">1,234 <em>Sasuke</em></a>
        </li>
        <li>
          <a href="#">567 <em>Hinata</em></a>
        </li>
        <li>
          <a href="#">23,456 <em>Naruto</em></a>
        </li>
        <li>
          <a href="#">3,456 <em>Kiba</em></a>
        </li>
        <li>
          <a href="#">456 <em>Shikamaru</em></a>
        </li>
        <li>
          <a href="#">26 <em>Sakura</em></a>
        </li>
      </ul>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
        <h2>Responsive Image</h2>
        <p>
          {% image "assets/images/aleza-van-der-werff-pvNIRh4pNcQ-unsplash.jpg",
          "carving", "img-fluid" %}
        </p>
      </div>
      <div class="col-md-6">
        <h2>Responsive Video</h2>
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            title="YouTube video"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="row my-5 g-0">
      <div class="row"><h2>Parallax Image</h2></div>
      <div class="col-md-12 blog-entry d-flex align-items-stretch">
        <div class="col-md-7{{ '' if row_test else ' order-md-last' }}">
          <div
            class="img rellax"
            data-rellax-speed="-5"
            data-rellax-min="-120"
            data-rellax-max="0"
            style="background-image: url({{
              '/assets/images/bernd-dittrich-AJ18lVOp6Z0-unsplash.jpg'
            }})"
          ></div>
        </div>
        <div class="col-md-5">
          <div class="text py-5 ps-md-5 my-lg-5">
            <p class="meta">&nbsp;</p>
            <h2 class="display-4 mb-4">
              <a href="#">Title</a>
            </h2>
            <p class="mb-4 pe-3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aspernatur fugiat amet deserunt vel excepturi accusantium omnis?
              Omnis earum adipisci sapiente enim voluptatum quae recusandae.
              Eveniet soluta deserunt consectetur perspiciatis modi?
            </p>
            <p>
              <a href="#" class="btn-custom"
                >Read More <span class="bi-arrow-right ms-2"></span
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <h2>Tables</h2>
      <p>
        Be sure to use properly formed table markup with
        <code>&lt;thead&gt;</code> and <code>&lt;tbody&gt;</code> when building
        a <code>table</code>.
      </p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
        <h2>Form Styles</h2>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="alert alert-primary" role="alert">
          A simple primary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
          A simple secondary alert—check it out!
        </div>
        <div class="alert alert-success" role="alert">
          A simple success alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>
        <div class="alert alert-warning" role="alert">
          A simple warning alert—check it out!
        </div>
        <div class="alert alert-info" role="alert">
          A simple info alert—check it out!
        </div>
        <div class="alert alert-light" role="alert">
          A simple light alert—check it out!
        </div>
        <div class="alert alert-dark" role="alert">
          A simple dark alert—check it out!
        </div>
      </div>
    </div>
  </div>
</section>
